body {
	background-color: lightblue;
	color: rgb(0,50,0);
}

header {
	background-color: rebeccapurple;
	font-family: 'Electrolize Regular', 'OrbitronMedium', 'Space Mono';
	color: #000000;
	font-size: x-large;
	text-align: center;
}

#CS1 {
	width: 200;
	height: 300;
}

h2, h3, h4, h5, h6 {
	font-family: 'Electrolize Regular', 'OrbitronMedium', 'Space Mono';
	color: plum;
	text-align: center;
}

h1 {
	font-family: 'OrbitronBold', 'Electrolize Regular'; 
	color: whitesmoke;
	text-align: center;
}

#settings_lists, .settingsList {
        text-align: center; /* Centers the inline-block ol */
    }

    .settingsList ol {
        display: inline-block; /* Allows ol to be centered by text-align */
        text-align: left; /* Aligns the text within the list items */
    }


/* Styling For Text  various texts on the page*/ 
.CipherText {
	font-size: 12px;
	color: olivedrab;
	} 


.SageText { 
	font-size: 12px;
	letter-spacing: 2pt;
	color: whitesmoke;	
	font-family: OrbitronLight;
	text-align: center;
	}

footer {
	color: black;
	font-size: 10pt;
	font-weight: 2;
	text-align: center;
}

#java, #settings_lists {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#aboutme {
  width: 80%;
  margin-left: 20%;
  margin-right: auto;
  margin-bottom: 15%;
  text-align: auto;
  font-size: 40pt;
}

#CS1 {
        float: right;
        margin-left: 15px; /* Add some space between image and text */
    }

#lineBrk1 {
	color: black;
	padding: 10;
	border: color(srgb rgba(255, 0, 0, 0.799) rgba(0, 128, 0, 0.718) rgb(255, 255, 255));
	border-radius: 5px;
  	border-top: 3px solid #0074D9;
}


hr.gradient {
  border: none;
  height: 5px;
  background: linear-gradient(to right, #f06, transparent);
}

.calcIMG {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px; 
	height: 300px;
}

#instructions {
	color: red;
	size: 8pt;
	border: white;
	padding: 3px;
	border-radius: 3;
	text-align: center;
}

#mikesBridge {
	display: block;
	margin: auto;
	height: 500px;
	width: 500px;
}


