body {
	background-color: lightblue;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;;
}

img {
	position:right;
}

header {
	background-color: rebeccapurple;
	font-family: 'Electrolize Regular', 'OrbitronMedium', 'Space Mono';
	color: #000000;
	font-size: x-large;
	text-align: center;
}


h2, h3, h4, h5, h6 {
	font-family: 'Electrolize Regular', 'OrbitronMedium', 'Space Mono';
	color: plum;
	text-align: center;
}

h1 {
	font-family: 'OrbitronBold', 'Electrolize Regular'; 
	color: whitesmoke;
	text-align: center;
}

ol {
	text-align: center;
}
/* Styling For Text  various texts on the page*/ 
.CipherText {
	font-size: 12px;
	color: olivedrab;
	} 


.SageText { 
	font-size: 12px;
	letter-spacing: 2pt;
	color: whitesmoke;	
	font-family: OrbitronLight;
	}

footer {
	color: black;
	font-size: 10pt;
	font-weight: 2;
	text-align: center;
}